.buildings {
  margin-bottom: -3%;
  width: 190%;
}

.photodiv {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:4%;
  margin-bottom: 4%;
}

.menu-div {
  border-right: 1px solid #dbdbdb;
  flex-basis: 236px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
}


li {
  border-left: 3px solid transparent;
    display: list-item;
    text-align: -webkit-match-parent;
}

.menu-div {
  margin-left: 0;
}

.menu-item-perfil {
  color: grey;
  display: block;
  font-size: 16px;
  height: 100%;
  line-height: 20px;
  padding: 16px 16px 16px 30px;
  width: calc(100% - 48px);
}
.menu-li{
  cursor: pointer;
}
.menu-li:hover{
  transition: .35s;
  border-left: 3px solid grey;
  background-color: #fafafa;
}


.name {
  text-align: center;
  text-decoration-style: solid;
}

.card-action a {
  color: #64B5F6 !important;
}

footer.page-footer {
  margin-top: 0px;
}


.parallax-container {
  width: 100%;
  min-height: 380px;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.lblue-text {
  color: #64B5F6;
}

.drop-item {
  display:flex;
  justify-content:center;
  align-items:center;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #8cb1d9;
  box-shadow: 0 1px 0 0 #8cb1d9;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #8cb1d9;
  box-shadow: 0 1px 0 0 #8cb1d9;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #8cb1d9;
  box-shadow: 0 1px 0 0 #8cb1d9;
}

.input-field input {
  color: #000;
}

.white-shadow {
  text-shadow: 1.7px 1.7px 1.7px #FFF;
}

.black-shadow {
  text-shadow: 1.7px 1.7px 1.7px #000;
}
