.buildings {
  margin-bottom: -3%;
  width: 190%;
}

.card-action a {
  color: #64B5F6 !important;
}

footer.page-footer {
  margin-top: 0px;
}


.parallax-container {
  width: 100%;
  min-height: 380px;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.lblue-text {
  color: #64B5F6;
}

.drop-item {
  display:flex;
  justify-content:center;
  align-items:center;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #8cb1d9;
  box-shadow: 0 1px 0 0 #8cb1d9;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #8cb1d9;
  box-shadow: 0 1px 0 0 #8cb1d9;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #8cb1d9;
  box-shadow: 0 1px 0 0 #8cb1d9;
}

.input-field input {
  color: #000;
}

.white-shadow {
  text-shadow: 1.7px 1.7px 1.7px #FFF;
}

.black-shadow {
  text-shadow: 1.7px 1.7px 1.7px #000;
}
