<div class="white z-depth-3 col s12 m4 offset-m4" style="margin-bottom:20%;">
  <button class="btn-large btn-cadastro blue lighten-2 col s12" {{action "choseOne" "1"}}>
    Candidato
  </button>
  <button class="btn-large btn-cadastro blue lighten-2 col s12" {{action "choseOne" "2"}}>
    Empresa
  </button>
</div>
