<div class="parallax-container fix-parallax">
  <div class="section" id="index-banner">
    <div class="container">
      <div class="row center">
        <h4 class="header col s12 black-shadow" style="margin-top:15%; margin-bottom:3%; color: white">Cadastro</h4>
      </div>
      <div class="row center">
        {{outlet}}
      </div>
    </div>
    <div class="parallax"><img src="assets/images/cityNoLights.jpg" alt=""/></div>
  </div>
</div>
