<div class="parallax-container fix-parallax">
  <div class="section" id="index-banner">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 black-shadow" style="margin-top:20%; margin-bottom:-1%; color: white">Login</h5>
      </div>
      <div class="row center">
        <div class="white z-depth-3 col s12 m4 offset-m4" style="margin-bottom:20%;">
          <div class="input-field" style="margin-left:3.3%">
            {{input placeholder="Login" value=model.login type="text"}}
          </div>
          <div class="input-field" style="margin-left:3.3%">
            {{input placeholder="Senha" value=model.passwd type="password"}}
          </div>
          <button {{action "login"}} class="btn-large blue lighten-2 col s12" style="margin-top: 1.2%; margin-bottom:3%">
            Entrar
          </button>
          {{#link-to "cadastro" class="white-text"}}
            <div class="btn-large blue lighten-2 col s12" style="margin-top: 1.2%; margin-bottom:3%;">
              Registrar
            </div>
          {{/link-to}}
        </div>
      </div>

    </div>
    <div class="parallax"><img src="assets/images/cityLights.jpg" alt="image"/></div>
  </div>
</div>
