<div class="container">
  <div class="row" style="margin-top:5%">
    <div class="col s12 m3 card-panel white">
      <div class="name">
        Comedor
      </div>
      <div class="photodiv">
        <img src="/assets/images/profile_M.jpg" alt="" />
      </div>

      <div class="collection menudiv">
        <div class="collection-item blue lighten-4">
          <h5 class="white-text" style="text-align:center">Menu</h5>
        </div>
        <a href="#!" class="collection-item">Pessoal<span class="badge">{{fa-icon "user" aria-hidden="true"}}</span></a>
        <a href="#!" class="collection-item">Vagas<span class="badge">{{fa-icon "user" aria-hidden="true"}}</span></a>
        <a href="#!" class="collection-item">Configurações<span class="badge">{{fa-icon "cog" aria-hidden="true"}}</span></a>
      </div>
    </div>
    <div class="col s12 m8 offset-m1">
      <div class="collection">
        <div class="collection-item blue lighten-4">
          <h4></h4>
        </div>
        <div class="collection-item">

        </div>
      </div>
    </div>
  </div>
</div>
